
.App .landing-div{
  background-color: rgba(80, 80, 80, 0.144);
}
.tabs > button {
font-size: 1rem;
}

.app_download_logos>img{
width: 126px;
height: 42px;
}

.App .landing-div{
width: 100%;
}
.App{
  width: 100%;
}
.App button , 
.App input{
border-radius: 0;
}

.Login_Social_Buttons > button{
border: 1px solid rgba(0, 0, 0, 0.185);
border-radius: 20px;
background: transparent;
color: rgba(0, 0, 0, 2.185);
}

.App .landing-div>div{
  background-color: white;
  margin: auto;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
  }
  
.Heading{
  font-size: 2rem;
  font-weight: bold;
}

.premium>div{
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

.premium div>p:first-of-type{
  font-weight: bold;
}